<footer class="app-footer py-5">
  <div class="container">
    <div class="row">

      <div class="col-md-4 mb-4 mb-md-0 text-center text-md-start">
        <a routerLink="/" class="footer-brand d-inline-block mb-3">
          <img src="/images/Logo-nav.png" alt="Logo [Nombre del Negocio]" class="footer-logo">
          </a>
        <p class="footer-description">Tu oasis de belleza y bienestar en Lorica, Córdoba. Donde cada tratamiento es una experiencia única de renovación.</p>
      </div>

      <div class="col-md-2 mb-4 mb-md-0">
        <h5 class="footer-heading">Enlaces Rápidos</h5>
        <ul class="list-unstyled footer-links">
          <li><a routerLink="servicios">Servicios</a></li>
          <li><a routerLink="productos">Productos</a></li>
          <li><a routerLink="nosotros">Nosotros</a></li>
          <li><a routerLink="contacto">Contacto</a></li>
        </ul>
      </div>

      <div class="col-md-3 mb-4 mb-md-0">
        <h5 class="footer-heading">Contacto</h5>
        <ul class="list-unstyled footer-info">
          <li><i class="bi bi-geo-alt-fill me-2"></i> Cra. 25 #24B Apt 201, Lorica, Córdoba</li>
          <li><i class="bi bi-phone-fill me-2"></i> +57 324 308 3471</li>
        </ul>
        <h5 class="footer-heading mt-4">Horarios</h5>
        <ul class="list-unstyled footer-info">
          <li>Lun - Vie: 8:00 AM - 6:00 PM</li>
          <li>Sáb: 8:00 AM - 12:00 M</li>
          <li>Dom: Cerrado</li>
        </ul>
      </div>

      <div class="col-md-3 text-center text-md-start">
        <h5 class="footer-heading">Síguenos</h5>
        <div class="social-icons mb-4">
          <a href="https://www.facebook.com/p/Maria-Camila-Centro-de-Est%C3%A9tica-100054203080956/" target="_blank" aria-label="Facebook"><i class="bi bi-facebook"><img src="/images/facebook.png" class="icons_social_media" alt=""></i></a>
          <a href="https://www.instagram.com/estetica_mariacamila/" target="_blank" aria-label="Instagram"><i class="bi bi-instagram"><img src="/images/instagram.png" alt="" class="icons_social_media"></i></a>
          <a href="https://wa.me/573243083471" target="_blank" aria-label="WhatsApp"><i class="bi bi-whatsapp"><img src="/images/whatsapp.png" alt="" class="icons_social_media"></i></a>
        </div>
      </div>

    </div>
    <hr class="footer-divider">
    <div class="text-center text-md-end footer-bottom-text mt-4">
      <p>&copy; {{ currentYear }} Estética Maria Camila. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
