<section class="about-us-section py-5">
  <div class="container">
    <h2 class="text-center mb-5 section-title">Nuestra Filosofía</h2>
    <div class="row align-items-center">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <img src="./images/FilosofiaSection.jpg" alt="[Nombre del Negocio] - Espacio de Belleza" class="img-fluid rounded shadow-lg about-image">
      </div>
      <div class="col-lg-6">
        <p class="lead about-text-lead">En Estética y Belleza Maria Camila, creemos que la belleza es una manifestación de bienestar interior. Nuestro santuario fue creado con la visión de ofrecer una experiencia holística que nutre cuerpo, mente y espíritu.</p>
        <p class="about-text-body">Desde 20XX, nos dedicamos a proporcionar tratamientos de estética y relajación con los más altos estándares de calidad, utilizando productos de vanguardia y técnicas innovadoras. Nuestro equipo de profesionales altamente calificados está comprometido a entender tus necesidades individuales para ofrecerte resultados excepcionales y un servicio personalizado que te haga sentir única y renovada.</p>
        <p class="about-text-body">Nos enorgullece ser un espacio donde la tranquilidad y la excelencia se encuentran, invitándote a desconectar del día a día y a redescubrir tu propio brillo.</p>
        <a routerLink="nosotros" class="btn btn-primary mt-3 about-btn">Conoce a Nuestro Equipo</a>
      </div>
    </div>
  </div>
</section>
