<div class="hero-section text-center text-white d-flex align-items-center justify-content-center">
  <div class="hero-content px-3 py-5">
    <h1 class="display-3 fw-bold mb-3">Tu Oasis de Belleza y Bienestar</h1>
    <p class="lead mb-4">Transformamos tu rutina en una experiencia de lujo y relajación. Descubre la mejor versión de ti.</p>
    <div class="d-grid gap-3 col-md-6 mx-auto">
      <a routerLink="/dashboard" class="btn btn-primary btn-lg custom-btn-hero">Reservar Cita Ahora</a>
      <a routerLink="servicios" class="btn btn-outline-light btn-lg custom-btn-hero-outline">Explorar Servicios</a>
    </div>
  </div>
</div>